.active{ background-color: black !important; color: white; }
ul li{ display: inline-block; }
ul li a{ 
    background-color: #ddd;
    padding: 10px;
    border: solid;
}
.btnRed{
    padding: 6px;
    background-color: red;
}
.btnGreen{
    padding: 6px;
    background-color:green;
}